// Navbar
nav {
    padding: 0.8rem;
    background-color: #ffffff;

    .navbar-brand {
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .navbar-nav li {
        padding-right: 1.4rem;
    }

    .navbar-nav a {
        font-size: 1.1em;
    }
}

// Hero
.hero {
    background-image: url(/images/hero-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &-content h1 {
        color: #ffe609;
        font-size: 500%;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px #000;
    }

    &-content p {
        font-size: 130%;
        color: #f9f9f9;
        padding: 1rem;
        text-shadow: 1px 1px 10px #000;
    }

    &-content hr {
        background-color: #f9f9f9;
        width: 60rem;
    }
}

// Services
.services {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;

    & hr {
        border-top: 2px solid #b4b4b4;
        width: 95%;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }
}

.service {
    &-img {
        width: 6em;
        margin: 1rem;
    }

    &-type {
        max-width: 25rem;
        margin: 0 auto;
        transition: all 290ms ease-out;
    }

    &-type:hover {
        border-radius: 10px;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
        transition: all 290ms ease-in;
    }

    &-descritpion {
        width: 91%;
        margin: 0 auto;
    }

    &-description p {
        font-size: 130%;
        margin-top: 2rem;
    }
}

.img-fluid {
    border: 12px solid #b4b4b4;
    border-radius: 10px;
}

// Team Cards
.card {
    &-section {
        justify-content: center;
    }

    &-img-top {
        max-height: 30rem;
        object-fit: cover;
        object-position: top 5rem;
    }
}

.whole-card {
    max-width: 30rem;
}

// Company Description
.company {
    &-description {
        width: 91%;
        margin: 0 auto;
    }

    &-description p {
        font-size: 130%;
        margin-top: 2rem;
    }
}

.col-lg-6 {
    margin: auto 0;
}

// Connect Section
.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa {
    &-facebook {
        color: #3b5998;
    }

    &-twitter {
        color: #00aced;
    }

    &-google-plus-g {
        color: #dd4b39;
    }

    &-linkedin {
        color: #0072b1;
    }

    &-facebook:hover,
    &-twitter:hover,
    &-google-plus-g:hover,
    &-linkedin:hover {
        opacity: 0.7;
        transition: all 200ms ease-in-out;
    }
}

// Footer
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;

    a {
        color: #d5d5d5;
    }
}

// Horizontal Ruler
hr {
    .light {
        border-top: 1px solid #d5d5d5;
        width: 75%;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }

    .light-100 {
        border-top: 1px solid #d5d5d5;
        width: 100%;
        margin-top: 0.8rem;
        margin-bottom: 1rem;
    }
}

// Buttons
.btn-primary {
    background-color: #ffe609;
    border: none;
    box-shadow: 0 0 5px 2px #222;
    color: #222;

    &:hover {
        background-color: #fff383;
        color: #222;
    }
}