// Pricing Tables
.fa-check {
    color: #37a733;
}

.pricing-table {
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
    max-width: 25rem;
    margin: 1rem auto 1rem auto;
    letter-spacing: 0.1rem;
}

.pricing-table h3 {
    padding: 0.6rem;
}