@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

.padding {
  padding-bottom: 2rem;
}

[class*="col-"] {
  padding: 1rem;
}

nav {
  padding: 0.8rem;
  background-color: #ffffff;
}

nav .navbar-brand {
  text-transform: uppercase;
  font-size: 1.5rem;
}

nav .navbar-nav li {
  padding-right: 1.4rem;
}

nav .navbar-nav a {
  font-size: 1.1em;
}

.hero {
  background-image: url(/images/hero-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-content h1 {
  color: #ffe609;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.hero-content p {
  font-size: 130%;
  color: #f9f9f9;
  padding: 1rem;
  text-shadow: 1px 1px 10px #000;
}

.hero-content hr {
  background-color: #f9f9f9;
  width: 60rem;
}

.services {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.services hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.service-img {
  width: 6em;
  margin: 1rem;
}

.service-type {
  max-width: 25rem;
  margin: 0 auto;
  -webkit-transition: all 290ms ease-out;
  transition: all 290ms ease-out;
}

.service-type:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 290ms ease-in;
  transition: all 290ms ease-in;
}

.service-descritpion {
  width: 91%;
  margin: 0 auto;
}

.service-description p {
  font-size: 130%;
  margin-top: 2rem;
}

.img-fluid {
  border: 12px solid #b4b4b4;
  border-radius: 10px;
}

.card-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-img-top {
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top 5rem;
     object-position: top 5rem;
}

.whole-card {
  max-width: 30rem;
}

.company-description {
  width: 91%;
  margin: 0 auto;
}

.company-description p {
  font-size: 130%;
  margin-top: 2rem;
}

.col-lg-6 {
  margin: auto 0;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-linkedin:hover {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer a {
  color: #d5d5d5;
}

hr .light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

hr .light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #ffe609;
  border: none;
  -webkit-box-shadow: 0 0 5px 2px #222;
          box-shadow: 0 0 5px 2px #222;
  color: #222;
}

.btn-primary:hover {
  background-color: #fff383;
  color: #222;
}

.fa-check {
  color: #37a733;
}

.pricing-table {
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
  max-width: 25rem;
  margin: 1rem auto 1rem auto;
  letter-spacing: 0.1rem;
}

.pricing-table h3 {
  padding: 0.6rem;
}

.contact-form h1 {
  margin: 3rem 0;
}

@media (max-width: 768px) {
  .card-img-top {
    max-height: 16rem;
  }
  .service-description {
    width: 91%;
    margin: 0 auto;
    text-align: center;
  }
  .company-description {
    text-align: center;
    margin: 0 auto;
  }
  .pricing-table {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 450%;
  }
  .hero-content p {
    font-size: 120%;
  }
  .hero-content hr {
    background-color: #f9f9f9;
    width: 17rem;
  }
  .services {
    width: 100%;
    padding-top: 1rem;
  }
  .service-description {
    width: 91%;
    margin: 0 auto;
    text-align: center;
  }
  .img-fluid {
    display: none;
  }
  .card-img-top {
    max-height: 20rem;
  }
  .whole-card {
    max-width: 20rem;
  }
  .company-description {
    text-align: center;
    margin: 0 auto;
  }
  .pricing-table {
    max-width: 20rem;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */